.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 5;
  float: left;
  width: 100%;
}

.tab-list-item {
  display: inline-block;
  float: left;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

#emailTable {
  margin: 50px;
}

#AppliedDisplay {
  margin: 50px;
}
